@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*, *::before, *::after, html, body
{
  padding: 0;
  margin: 0;
}

header
{
    @apply relative z-50 flex justify-between items-center px-5 bg-[rgb(0,0,42)] text-white box-border;
}

.home
{
    @apply flex items-center cursor-pointer;
}

.dropdown
{
    @apply absolute top-10 right-0 w-[100px] bg-black border border-white z-5 list-none;
}

.dropdown a
{
    @apply block px-4 py-2 text-white no-underline hover:bg-[darkblue];
}

.btn
{
    @apply px-3 py-2 rounded-lg cursor-pointer font-bold;
}

.form
{
    @apply flex flex-col w-3/5 mx-auto p-5 bg-gray-100;
}

/* --- EXCEPCIÓN PARA EL FORMULARIO DEL CHAT --- */
/* Esta regla es más específica que la regla 'form' global, pasa por encima de form*/
form.chat-form {
    @apply !flex-row !w-full !m-0 !p-0 !bg-transparent !shadow-none;
}

/* Posicionamiento exacto del Chat Sidebar */
.chat-layout {
    top: 70px;
    height: calc(100vh - 120px);
}

.label-black
{
    @apply mb-1 mt-3 text-black;
}

.label-white
{
    @apply mb-1 mt-3 text-white;
}

.input-black
{
    @apply p-2 mb-2 text-black border border-black rounded;
}

.input-white
{
    @apply p-2 mb-2 text-white border border-white rounded;
}

.select-black
{
    @apply p-2 text-black border border-black;
}

.select-white
{
    @apply p-2 text-white border border-white;
}

.li
{
    @apply text-center cursor-pointer border-b-4 border-transparent text-[#bbf8dc] my-2 px-1 hover:bg-[#0077cc] hover:border-blue-500;
}

.scroll
{
    @apply overflow-y-auto;
}

.no-scroll
{
    @apply overflow-y-hidden;
}

h1
{
	@apply text-[30px] text-white font-bold mb-3;
}
