
# compiled output
/dist
/node_modules
/build

# --- SEGURIDAD Y CONFIGURACIÓN (REQUISITO MANDATORIO) ---
# No subir credenciales ni variables de entorno 
.env
srcs/.env
#.env.local
#.env.*.local
#*.env


# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db
*.swp

# --- DOCKER ---
# Ignorar datos persistentes de la base de datos en local
/db_data/
/volumes/

# --- BACKEND (Python/Django o Node.js) ---
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/

# Node.js (si se usa Express, NestJS o frameworks de Frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
dist/
build/

# --- FRONTEND ---
.svelte-kit/
.next/
.vuepress/dist
/out/

# --- CIBERSEGURIDAD Y SECRETOS ---
# Evitar subir certificados SSL locales o logs sensibles
*.pem
*.key
*.crt
logs/
*.log







# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*



# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
srcs/.env
srcs/!.env.example
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
!env.example

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

#prometeus
data/prometheus/*

# to test
/dockerfiles_upload/
