PROJECT_NAME=transcendence_pong_game
# adminer configuration
ADMINER_IMAGE=adminer:latest
ADMINER_CONTAINER_NAME=adminer
ADMINER_CONTAINER_PORT=8080

#totp configuration
TOTP_PROTOCOL=http
TOTP_IMAGE=TOTP
TOTP_CONTAINER_NAME=totp_server
TOTP_CONTAINER_PORT=8070
TOTP_SERVICE_URL=${TOTP_PROTOCOL}://${TOTP_CONTAINER_NAME}:${TOTP_CONTAINER_PORT}

# auth-frontend configuration
AUF_CONTAINER_NAME=auth-frontend
AUF_PORT=5174
# VITE_AUF_API_URL=http://localhost:3000
VITE_AUF_API_URL=https://localhost:8443 #nginx

# auth-service configuration
AUS_CONTAINER_NAME=auth-service
AUS_PORT=3010
# VITE_AUS_API_URL=http://localhost:${AUS_PORT}
VITE_AUS_API_URL=https://localhost:8443 #nginx

# backend configuration
BE_CONTAINER_NAME=backend
BE_CONTAINER_PORT=3000
#VITE_BACKEND_URL=https://congenial-tribble-q7jw499g9jr24v9r-3000.app.github.dev
VITE_BACKEND_URL=https://localhost:8443 #nginx


# dbserver configuration
MASTER_KEY=
DB_CONTAINER_NAME=dbserver
DB_HOST=dbserver
#DB_HOST=localhost
POSTGRES_DB=transcendence
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password_here
DB_POSTGRES_VERSION=18
PGDATA= /var/lib/postgresql/18/docker
#PGDATESTYLE= ISO, DMY
DB_PORT=5432

# Para que funcione dentro de Docker y con Drizzle
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}


# frontend configuration

FE_CONTAINER_NAME=frontend
FE_CONTAINER_PORT=5173
#VITE_FRONTEND_URL=https://congenial-tribble-q7jw499g9jr24v9r-5173.app.github.dbserver
VITE_FRONTEND_URL=https://localhost:8443 # <--- Modificado para que pase por Nginx


# Grafana configuration
GF_CONTAINER_NAME=grafana
GF_SERVER_HTTP_PORT=3500
GF_CONTAINER_PORT=4000
GF_SECURITY_ADMIN_USER=grafana_user_here
GF_SECURITY_ADMIN_PASSWORD=grafana_password_here
GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
GF_AUTH_ANONYMOUS_ORG_NAME=Main Org.
GF_SECURITY_COOKIE_SAMESITE=none
GF_SECURITY_COOKIE_SECURE=true
GF_SECURITY_ALLOW_EMBEDDING=true # Permite incrustar el dashboard si lo necesitas luego
GF_SERVER_ROOT_URL=https://localhost:8443/grafana/ #para nginx
GF_SERVER_SERVE_FROM_SUB_PATH=true #para nginx
GITHUB_TOKEN=ghp_tu_token_largo_de_github_aqui

# PROMETHEUS
PROM_CONTAINER_NAME=prometheus
PROM_CONTAINER_PORT=9090

# OAuthe
# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production-min-32-chars
JWT_EXPIRATION=7d

# 42 OAuth
OAUTH_42_CLIENT_ID=42_client_id_here
OAUTH_42_CLIENT_SECRET=42_client_secret_here
# OAUTH_42_CALLBACK_URL=http://localhost:3000/auth/42/callback
OAUTH_42_CALLBACK_URL=https://localhost:8443/auth/42/callback #nginx

# Google OAuth
OAUTH_GOOGLE_CLIENT_ID=google_client_id_here
OAUTH_GOOGLE_CLIENT_SECRET=google_client_secret_here
# OAUTH_GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
OAUTH_GOOGLE_CALLBACK_URL=https://localhost:8443/auth/google/callback #nginx

